<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<form method="post">
    {% csrf_token %}
    <label>Nombre</label>
    <input type="text" name="name"></br></br>
    <label>Codigo</label>
    <input type="number" name="codigo"> </br></br>
    <label>fecha de ingreso</label>
    <input type="date" name="fecha"></br></br>
    <label>direccion</label>
    <input type="text" name="direccion"></br></br>
    <label>telefono fijo</label>
    <input type="number" name="telefono"></br></br>
    <label>telefono celular</label>
    <input type="number" name="cell"></br></br>
    <label>Correo electronico</label>
    <input type="text" name="email"></br></br>
    <input type="checkbox" name="import" value="import">Export<br>
    <a href="{% url 'importer' %}">Import</a>
    <button id="btn-submit" type="submit">Save</button>
</form></br>
{% if error %}
    <a>{{ error }}</a>
{% endif %}
</body>
</html>