<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Importer</title>
    <link rel="stylesheet" href="{% static 'importer.css' %}">
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="archive" type="file">
    <button type="submit">Import</button>
</form>
</body>
</html>